.auth-container {
  width: 50vw;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: black;
  border: 1px solid #ffc107ee;
  text-align: center;
  color: #ffc107ee;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button {
  border: 1px solid #ffc107ee;
  background: black;
  color: #ffc107ee;
}

.hr {
  background-color: #ffc107ee;
  width: 70%;
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
